@import "./base.css";
body {
    overflow-x: hidden;
}
/* ========================================Sidebar==================================================== */
.sidebar-container {
    background-color: var(--sidebar-background-color);
    padding: 16px;
    transition: width 0.3s ease-in-out;
    width: 240px;
    height: calc(100vh - 60px);
    z-index: 1;
    position: sticky;
    top: 60px;
}

.sidebar-container.shrink {
    width: 85px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: space-between;
}

.sidebar-viewButton {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    right: -20px;
    top: 40%;
    background-color: var(--main-color);
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px var(--main-color);
    z-index: 1;
}

.sidebar-container.shrink .sidebar-viewButton {
    transform: rotate(180deg);
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 12px 0 0;
}

.sidebar-listItem {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 5px 0px;
}

.sidebar-listItem.active {
    background-color: var(--main-color);
    color: var(--text-color) !important;
}

.sidebar-listItem a {
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color-sub-white);
    font-size: 14px;
}

.sidebar-listItem.active a,
.sidebar-listItem.active i {
    color: var(--text-color);
}

.sidebar-listItem i {
    color: var(--text-color-sub-white);
    font-size: 22px;
    margin-right: 8px;
    width: 18px;
    text-align: center;
}

.sidebar-listItem:hover {
    background-color: var(--main-color);
}

.sidebar-listItem:hover i,
.sidebar-listItem:hover a {
    color: var(--text-color) !important;
}

.shrink .sidebar-listItem i {
    margin-right: 0;
}

.sidebar-listItemText {
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    display: block;
    transition: all 0.3s ease;
    font-weight: 500;
}

.shrink .sidebar-listItemText {
    visibility: hidden;
    opacity: 0;
}

.sidebar-profileSection {
    height: 80px;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.sidebar-profileSection img {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid var(--main-color);
    padding: 2px;
}

.sidebar-profileSection div {
    display: flex;
    flex-direction: column;
}

.sidebar-profileSection span {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    font-size: 11px;
}

.shrink .sidebar-profileSection span {
    visibility: hidden;
    opacity: 0;
}

.divider {
    transition: all 0.2s ease-in-out;
}

.shrink .divider {
    opacity: 0;
}

.sign-out {
    display: none;
}

.shrink .sign-out {
    display: block;
}

.sign-out-btn {
    margin: 3px 0px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-out-btn i {
    font-size: 20px;
}

.sign-out-btn:hover {
    background-color: var(--main-color);
}
/* ========================================Sidebar==================================================== */
/****/
/* ========================================UserLayout-Children======================================== */
.page-container {
    width: calc(100% - 30px);
    margin-left: 30px;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-item {
    width: calc(100% - 60px);
    margin: 8px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: var(--content-item-background-color);
    border: 1px solid var(--content-item-border-color);
    color: var(--text-color);
    border-radius: 8px;
    overflow-y: hidden;
}

.title-container {
    width: 100%;
    color: var(--text-color);
    line-height: normal;
    font-style: normal;
    letter-spacing: -0.293px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title span:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
}
.main-title span:nth-child(3) {
    color: #a1a1aa;
    font-size: 16px;
    font-weight: 400;
}

.content-item-title {
    width: 100%;
    color: var(--text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}
.content-item-title div {
    display: flex;
    flex-direction: column;
}

.content-item-title span:nth-child(2) {
    color: #a1a1aa;
    font-size: 16px;
    font-weight: 400;
}

/**
Custome a-select
**/

.ant-select-selector {
    background-color: var(--form-item-background-color) !important;
    border: 1px solid var(--form-item-border-color) !important;
}

.ant-select-selector:focus-within {
    box-shadow: none !important;
}

.ant-select-dropdown {
    background-color: var(--form-item-background-color);
    border: 1px solid var(--form-item-border-color);
}

.ant-select-item-option {
    background-color: var(--form-item-background-color);
    color: var(--text-color) !important;
}

.ant-select-item-option-active {
    background-color: var(--background-color-hovered) !important;
}

.ant-select-item-option-selected {
    background-color: var(--background-color-selected) !important;
    font-weight: 500;
    color: var(--text-color) !important;
}

/* select area when dropdown */
.ant-select-selection-item {
    color: var(--text-color) !important;
}
.ant-select-arrow {
    color: var(--text-color-grey) !important;
}

/**
* Custom a-popconfirm
**/

.ant-popover-arrow::before {
    background: var(--form-item-background-color) !important;
}

.ant-popover-inner {
    background: var(--form-item-background-color) !important;
    border: 1px solid var(--form-item-border-color);
    border-bottom: none;
}

.ant-popconfirm-message-title {
    color: var(--text-color) !important;
}

/**
* Custom question type component 
**/

.question-container {
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.question-header {
    margin: 20px 0px;
    color: var(--text-color);
    display: flex;
    justify-content: end;
}
.question-info {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.question-functions {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.question-function-select {
    width: 200px;
}
.question-function-delete {
    font-size: 24px;
    margin: 0px 10px 0px 20px;
    cursor: pointer;
}

.question-body {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.question-body-answer {
    flex: 1;
    display: flex;
}

.option-title {
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--text-color);
}

.option-list-container {
    padding: 10px;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
    border: 1px solid #878787;
    background: #151518;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

.option-list-container-error {
    border-color: #f44336;
}

.option-list-container::-webkit-scrollbar {
    width: 8px;
}

.option-list-container::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--form-item-border-color);
    border-radius: 10px;
}

.add-option {
    border-radius: 8px;
    padding: 5px 10px;
    max-width: 200px !important;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-color);
    border: 1px dashed var(--text-color-grey);
}
.add-option i {
    font-size: 24px;
}

.add-option:hover {
    border: 1px dashed #aaa;
}

/* ========================================UserLayout-Children======================================== */
