@import "./base.css";
body {
    overflow-x: hidden;
}
/* ========================================UserLayout-Children======================================== */

.page-container {
    height: 100vh;
    width: calc(100% - 30px);
    margin-left: 30px;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-item {
    width: calc(100% - 60px);
    margin: 8px;
    padding: 10px;
    background-color: #151518;
    border: 1px solid #27272a;
    color: var(--text-color-white);
    border-radius: 8px;
    overflow-y: hidden;
}

.title-container {
    width: 100%;
    color: var(--text-color-white);
    line-height: normal;
    font-style: normal;
    letter-spacing: -0.293px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title span:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
}
.main-title span:nth-child(3) {
    color: #a1a1aa;
    font-size: 16px;
    font-weight: 400;
}

.content-item-title {
    width: 100%;
    color: var(--text-color-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}
.content-item-title div {
    display: flex;
    flex-direction: column;
}

.content-item-title span:nth-child(2) {
    color: #a1a1aa;
    font-size: 16px;
    font-weight: 400;
}

/**
Custome a-select
**/

.ant-select-selector {
    background-color: var(--input-item-background-color) !important;
    border: 1px solid var(--input-item-border-color) !important;
}

.ant-select-selector:focus-within {
    box-shadow: none !important;
}

.ant-select-dropdown {
    background-color: var(--input-item-background-color);
    border: 1px solid var(--input-item-border-color);
}

.ant-select-item-option {
    background-color: var(--input-item-background-color);
    color: var(--text-color-white) !important;
}

.ant-select-item-option-active {
    background-color: #313131 !important;
}

.ant-select-item-option-selected {
    background-color: #2a2a2e !important;
    font-weight: 500;
    color: var(--text-color-white) !important;
}

/* select area when dropdown */
.ant-select-selection-item {
    color: var(--text-color-white) !important;
}
.ant-select-arrow {
    color: var(--text-color-grey) !important;
}

/* ========================================UserLayout-Children======================================== */
